<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
Hello, {{user}}!

    <form action="/" method="post">
        <input type="text" name="user">
        <button type="submit">提交</button>
    </form>
</body>
</html>