<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
请提交你的报名信息

    <form action="/" method="post">
        <div class="row">
            姓名：<input type="text" name="name">
        </div>
        <div class="row">
            手机：<input type="text" name="phone">
        </div>
        <div class="row">
            <button type="submit">提交</button>
        </div>
    </form>
</body>
</html>