*{margin: 0;padding:0;}
a{text-decoration: none;}
li{list-style: none;}
body{font-family:"Microsoft Yahei";font-size: 14px;}
img{border:none; vertical-align:top;}

@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:30px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	
}

 .clearfix:after{
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
 }

.wrapper{width: 1264px;}
.header{position:relative;height: 52px;width: 1264px;background-image: url(../image/header.png);}
.header-wrapper{width:880px;height:52px;position: absolute;left:268px;}

.header-wrapper-left{height:52px;float: left;margin-right: 100px;}
.facebook li{float: left;color: #4f5561;line-height: 52px;margin-right: 4px;}

.header-wrapper-right{height:52px;float: left;}
.phone li{float: left;color:#4f5561;line-height: 52px;font-size: 16px;
			margin-left: 52px;
			}
.phone span{color: white;font-size: 12px;font-weight: bold;}
.phone li i{font-size: 16px;}


.logo{height: 110px;width:1264px;}
.logo-png{float: left;padding:30px 90px 0 62px;margin-right: 150px;}
.nav{float: left;margin-top:35px; font-size: 12px;}

.nav li{float:left;padding:10px 20px;font-weight: bold;}
.nav .about{background-color: #232c3d;color: white;}

.sub-banner{height: 382px;width:1264px;text-align: center;
background-image: url(../image/sub-banner.jpg);position: relative;
}
.sub-banner-font{width 150px;height: 80px;}
.font-p1{font-size: 34px;color: white;}
.font-p2{color: white;font-size: 10px;font-weight: bold;padding: 15px;}
.font-p2 span{color:#A35A39;}

.sub-banner-font{position:absolute;left: 50%;top: 50%;margin-top:-40px;margin-left: -75px;}

.welcome{height: 406px;padding: 100px 0;background-color: #f9f9f9;}

.welcome p{text-align: center;}
.welcome-p1{font-size: 40px;color: #232c3b;margin-bottom: 30px;}
.welcome-p2{font-size: 15px;color: #6a7483;margin-bottom: 84px;}
.welcome ul{width:1264px;padding: 0 20px;}
.welcome li{float: left;width:276px;padding: 0 15px;}
.welcome li div{text-align: center;margin-bottom:47px; }

.welcome-li-p1{font-size: 13px;line-height: 24px;letter-spacing: 2px;}
.welcome-li-p2{font-size: 13px;line-height: 24px;color: #6a7483;}


.ipad{height: 488px;padding:100px 0;}
.ipad-inner{height: 488px;width:1140px;padding: 0 15px;margin:0 auto;}

.ipad-inner-left{float: left;margin-top: 30px;}
.ipad-inner-right{float: left;width: 555px;padding: 15px;}
.ipad-inner-left img{width: 555px;}

.Get-Appear{font-size: 40px;
margin-bottom: 15px;
font-weight: bold;
color: #232c3b;
letter-spacing: 1px;
}
.Monitor{font-size: 13px;line-height: 24px;color: #6a7483;margin-bottom: 30px;}

.inner-right-list{margin-bottom: 20px;}
.inner-right-list li{font-size: 15px;color: #232c3b;line-height: 24px;margin-bottom: 20px;}
.inner-right-list li img{vertical-align:middle;}
.inner-right-list li span{vertical-align:middle;line-height: 24px;}

.inner-right-btn span{display: inline-block;width: 84px;height: 17px;padding: 15px 35px;
background-color: #ff6c3a;border-radius: 4px;text-align: center;
color: white;text-transform: uppercase;font-size: 12px;margin-right: 30px;}
.inner-right-btn .learnmore{background-color: #222935;}

.ourclients{height: 299px;padding:100px 0;background-color:#4ad5c0; }
.ourclients li{float: left;width: 228px;height: 100px;text-align: center;}
.ourclients  p{text-align: center;}
.ourclients .clients{color: #fff;font-size: 40px;margin-bottom: 15px;
font-weight: bold;letter-spacing: 1px;}
.ourclients .Doyou{width: 60%;font-size: 15px;letter-spacing: 1px;margin:0 auto;
	color: #fff;line-height: 30px;
}
.ourclients ul{width: 1140px;margin:0 auto;margin-top: 85px;}



.creativeteam{width: 1170px;height: 646px;padding:100px 15px;margin:0 auto;}
.avatar li{float: left;position: relative;}
.avatar li img{width: 360px;padding: 0 15px;}

.creativeteam-p1{color:#27303f;font-size: 40px;margin-bottom: 15px;
font-weight: bold;letter-spacing: 1px;text-align: center;}
.creativeteam-p2{width: 60%;font-size: 15px;letter-spacing: 1px;margin:0 auto;
	color: #6a7483;line-height: 30px;text-align: center;margin-bottom: 85px;}


.avatar-introduce{width:310px;height: 80px;padding: 0 25px;
background:rgba(35,44,59,0.8);position: absolute;right: 15px;bottom: 0; }
.avatar-introduce-name{margin-top: 20px;font-size: 18px;color: white;}
.avatar-introduce-job{margin-bottom: 20px;font-size: 13px;line-height: 24px;color: white;}
.avatar-introduce a{float: right;display:inline-block;height:70px;margin-top: -85px;
	border-left: 1px solid #a15642;padding-left: 15px;line-height: 70px;}
}

.jinxiaoyun{color: red !important;font-size: 30px;}