* {
	padding: 0;
	margin: 0;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
#header {
	margin-top: 20px;
	margin-right: 12px;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}
.list-wrap {
	float: right;
}
.list-wrap li {
	float: left;
}
.list-wrap li a {
	margin-left: 20px;
	font-size: 13px;
	color: #333;
	font-weight: bold;
	display: block;
	padding-top: 4px;
	padding-bottom: 5px;
	text-decoration: underline;
	transition: all 0.3s;
}
.list-wrap li a:hover {
	color: #4791ff;
}
.list-wrap li .login {
	font-weight: normal;
}
.list-wrap li .more {
	padding: 5px;
	background-color: #3388FF;
	color: #fff;
	text-decoration: none;
}
.list-wrap li .more:hover {
	color: #fff;
}
#content {
	text-align: center;
	position: relative;
}
#content img {
	width: 270px;
	height: 129px;
}
.search {
	width: 539px;
	height: 22px;
	padding: 5px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	border: 1px solid #4791ff;
}
.search-btn {
	font-size: 15px;
	color: #fff;
	background-color: #3385ff;
	padding: 9px 20px;
	display: inline-block;
}
#footer {
	margin-top: 180px;
}
#footer p {
	margin-bottom: 10px;
}
.lh {
	text-align: center;
}
.lh a {
	font-size: 12px;
	margin-right: 20px;
	text-decoration: underline;
}
.cp {
	text-align: center;
	font-size: 12px;
	color: #666;
}
.cp a {
	color: #666;
}
.cp i {
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_45de3f02.png) no-repeat -600px -96px;
	width: 20px;
	height: 20px;
	position: relative;
	top: 7px;
	left: 2px;
}