<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="background:white;">
index 2222
<script>
    document.domain = 'a.com'
    window.name = 'index2'
    window.index2Function = function () {

        console.log('index2')
    }
</script>
</body>
</html>