<ul>
    {{#each files}}
        <li>
            {{name}}
            <audio controls>
                <source src="{{path}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </li>
    {{/each}}
</ul>
<a href="/create">create</a>