<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="old" value="{{old}}">
    <div class="row">
        <label>新 MP3 文件</label>
        <input type="file" name="file" required>
    </div>
    <div class="row">
        <input type="submit" value="上传">
    </div>
</form>

<script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js"></script>
<script>
    $('form').submit(function (e) {
        e.preventDefault()
        var form = this
        var formData = new FormData()
        formData.append('file', form.file.files[0])
        formData.append('old', form.old.value)


        $.ajax({
            url: '/update',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
        }).then(function (response) {
            console.log(response)
        }, function () {

        })
    })
</script>
