
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google:before { content: "\e607"; }
.icon-facebook:before { content: "\e602"; }
.icon-twitter:before { content: "\e600"; }
.icon-phone:before { content: "\e619"; }
.icon-envelope:before { content: "\e6c8"; }
.icon-weixin:before { content: "\e632"; }
.icon-question:before { content: "\3435"; }
.icon-search:before { content: "\e605"; }
.icon-linkedin:before { content: "\e60d"; }
.icon-dribbblec:before { content: "\e600"; }
.icon-behance:before { content: "\e60c"; }
.icon-map-marker:before { content: "\e6b1"; }
