*{margin:0; padding: 0;}
ol,ul{list-style:none;}

@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before { content: "\e745"; }
.icon-share:before { content: "\e637"; }

body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #F7F6F8;
}
.wrapped{
    margin: 0 auto;
    width: 970px;
}
@media (max-width: 640px){
    .wrapped{
        width: 100%;
    }
}

.topbar{
    background-color: #fff;
    padding: 34px 0 26px;
    box-shadow: 0 0 8px hsla(0,0%,0%,0.25);
    position: relative;
    z-index: 1;
}
.topbar h1{
    font-size: 28px;
    line-height: 40px;
    color: #BCBCBC;
    font-weight: normal;
    position: relative;
    padding-left: 30px;
}
.topbar h1 > .iconfont{
    position: absolute;
}
.topbar h1 > .menu{
    top:0;
    left:0;
    font-size: 26px;
}
.topbar h1 > .share{
    right: 0;
    top: 0;
    font-size: 22px;
    color: #51AA92;
}

/*topbar ends*/

.summary:after{
    content: '';
    display: block;
    clear: both;
}
.summary{
    font-size: 18px;
}
.summary .avatar{
    float: left;
    width: 220px;
    height: 230px;
    background-color:#58C1D3;
    padding-top: 30px;
    padding-left: 20px;
    color: white;
    position: relative;
} 
@media (max-width: 640px){
    .summary .avatar{
        float: none;
        width: 100%;
    }
}
.summary .avatar img{
    bottom: 0;
    left:50%;
    margin-left: -82px;
    position: absolute;
}
.summary .text{
    word-break: break-all;
    float: left;
    width: 630px;
    height: 160px;
    padding: 50px;
    color: #818181;
    line-height: 33px;
}
@media (max-width: 640px){
    .summary .text{
        float: none;
        width: auto;
        margin: 15px;
        padding: 15px;
        background-color: #fff;
    }
}
.panel{margin-bottom: 15px; background-color: #fff; color: #818181;}
@media (max-width: 640px){
    .panel{
        background-color: transparent;
    }
}

.panel h2 {
    font-size: 24px;
    color: #74BCAA;
    font-weight: normal;
}
.panel dl:after{
    content: '';
    display: block;
    clear:both;
}
.panel dt,
.panel dd{
float: left;
width: 50%;
border-bottom: 1px dashed #E4E4E4;
line-height: 45px;
}
.panel dd{
    text-align: right;
    color: #74BCAA;
}
/* summary ends */
.profile-and-willing{
    float: left;
    width: 270px;
}
@media (max-width: 640px){
    .profile-and-willing{
        float: none;
        width: auto;
    }
    .profile{
        background-color: #fff;
        margin: 15px;
    }
}
.qa-and-resume{
    float: left;
    width: 685px;
    margin-left: 15px;
}

.profile, .willing, .panel.qa, .resume{
    padding: 12px 19px 35px;
}

