*{
    font-family: "Î¢ÈíÑÅºÚ";
    padding: 0;
    margin: 0;
}
h1,h2,h3,h6{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
#warp{
    width: 1170px;
    margin: 0 auto;
}
#top{
    background-color: #222935;
    width: 100%;
    height: 4px;
}
#header{
    background-color: #222935;
    width: 900px;
    height: 48px;
    position: relative;
    border-radius:0 0 6px 6px;
    margin-left: 200px;
}
.log-left{
    width: 25%;
    display: block;
    float: left;
    padding-left: 5px;
    clear: both;
}
.log-left li{
    padding-left: 2px;
    display: inline-block;
    text-align: center;

}
.icons li a{
    background: #4f5662;
    height: 31px;
    width: 31px;
    text-align: center;
    line-height: 31px;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
}
.icons li a:hover,.icons li a:active{
    background: #ff6c3a;
}
.log-right{
    display: block;
    float: left;
}
.log-right li{
    list-style: none;
    display: inline-block;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    margin-left: 50px;
}
span img{
    position: relative;
    top:8px;
    left: -2px;
}
#container{
    width: 100%;
    height: 60px;
    padding: 25px 0 20px 0;
}
.log-infinity img{
    width: 191px;
}
.log-infinity{
    display: block;
    float: left;
}
.clearFix{
    content: "";
    clear: both;
    display: block;
}
.nav{
    display: block;
    float: left;
    height: 50px;
    background-color: #FFFFFF;
    position: relative;
    left: 450px;
    top: -40px;
}
.nav ul{
    width: auto;
    height: 50px;
    float: right;
    padding: 0;
    margin:10px 0 0 0;
    list-style-type: none;
}
.nav li{
    height: 35px;
    cursor: pointer;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #141414;
}
.nav li.active a{
    color: #ffffff;
    background: #232c3b;
}
.nav li a{
    padding: 10px 20px;
    color:#232c3b ;
    float: left;
    font-size: 14px;
    font-weight: bold;
    display: block;
    list-style-type: none;
    text-transform: uppercase;
}
.nav li a:hover,a:active,a:visited{
    padding: 10px 20px;
    color:#FFFFFF ;
    background-color: #232c3b;
    float: left;
    font-size: 14px;
    font-weight: bold;
    display: block;
    list-style-type: none;
}
.nav>li{
    float: left;
    position: relative;
}
.dropDown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1px;
}
.nav>li:hover>.dropDown{
    display: block;
}
.dropDown li a{
    text-transform: uppercase;
    border: none;
    line-height: 20px;
    color: #6f6f6f;
    font-size: 12px;
    width: 200px;
    text-align: left;
    padding: 10px 20px;
    background-color: #141414;
    margin-top: -11px;
}
.dropDown li a:hover,a:active{
    color: #ff6c3a;
    background-color: #141414;
}
.indicator{
    position: relative;
    right: 5px;
    float: right;
    font-size: 14px;
    display: none;
}
.searchBox{
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
}
.searchBox li form{
    padding: 30px;
    width: 490px;
    text-transform: uppercase;
    border: none;
    line-height: 20px;
    background-color: #141414;
    margin-top: -5px;
}
.nav>li:hover>.searchBox{
    display: block;
}
.searchBox form input{
    width: 100%;
    background: rgba(255,255,255,0.1);
    box-shadow: none;
    height: 40px;
    padding-left: 20px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #232c3b;
}
.searchBox form button{
    border: none;
    color: #ffffff;
    background: #ff6c3a;
    height: 40px;
    float: right;
    padding: 0 40px;
    margin-top: -40px;
}
#aboutImg{
    overflow: hidden;
    clear: both;
    margin: 0;
}
.question{
    margin-top: 100px;
    height: 500px;
}
.solution{
    text-align: center;
    line-height: 50px;
}
.solution h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 15px;
    color: #232c3b;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
}
.solution{
    color:#6a7483 ;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 80px;
}
.answer li{
    display: inline-block;
    list-style: none;
    width: 25%;
    float: left;
}
.answer ul{
    text-align: center;
    display: block;
}
.answer ul img{
    vertical-align: middle;
}
.answer span{
    text-align: center;
}
span h6{
    font-size: 12px;
    margin-top: 40px;
    font-weight: normal;
    letter-spacing: 1.3px;
}
span p{
    font-weight:400;
    color:#6a7483 ;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.google{
    width: 1170px;
    height: 500px;
    display: block;
    margin-top: 70px;
}
.pad{
    width: 50%;
    height: auto;
    float: left;
}
.pad img{
    width: 555px;
}
.content{
    width:50%;
    float: left;
}
.get{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.get h2{
    font-size: 40px;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #232c3b;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
}
.get p{
    font-weight: 400;
    color: #6a7483;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.promise ul{
    display: block;
}
.promise li{
    padding: 5px 0;
    list-style: none;
}
.promise li p{
    font-size: 15px;
    color: #232c3b;
    line-height: 24px;
}
.promise li img{
    margin-right: 15px;
}
.btn{
    margin-top: 10px;
}
.btn{
    background: #222935;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 35px;
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid rgba(0,0,0,0.4);
    margin-top: 20px;
    line-height: 1.42857143;
    cursor: pointer;
    letter-spacing: 2px;
}
.btn-orange{
    background: #ff6c3a;
    border-bottom: 3px solid rgba(0,0,0,0.4);
}
.clients{
    background-color:#4ad5c0 ;
    padding: 100px 15px;
    margin:0 auto;
}
.clientsHead{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.clientsHead h2{
    font-size: 40px;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
}
.clientsHead p{
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    margin: 0 auto;
    width: 60%;
    display: inline-block;
    line-height: 30px;
}
.clients ul{
    text-align: center;
    padding-bottom: 100px;
}
.clients li{
    list-style: none;
    width: 20%;
    float: left;
}
.clients li img{
    vertical-align: middle;
}
.team{
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}
.team h2{
    font-size: 40px;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #232c3b;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
}
.team p{
    color: #6a7483;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 60%;
    display: inline-block;
    line-height: 30px;
}
.people{
    float: left;
    list-style: none;
    min-height: 1px;
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.people img{
    width: 360px;
}
.people .teamText {
    background: rgba(35, 44, 59, 0.8);
    width: 79.5%;
    position: absolute;
    bottom: -1px;
    padding: 0 25px;
    height: 80px;
}
.people .teamText h5{
    font-size: 18px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 20px;
    font-family: 'Alegreya Sans';
}
.people .teamText p{
    color: #fff;
    margin-bottom: 20px;
    font-style: italic;
}
.people .cont{
    float: right;
    position: relative;
    margin-top: -75px;
    border-left: 1px solid #a15642;
    color: #a25742;
    font-size: 20px;
    line-height: 70px;
    padding-left: 40px;
}
.people .cont .envelope{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit
}
#footer{
    margin-top: 550px;
    background-color: #232c3b;
    width: 1120px;
    height: 600px;
    display: block;
    padding: 20px 80px;
    clear: both;
}
.letter{
    padding: 50px;
}
.letterLeft{
    width: 50%;
    float: left;
    margin-left: -50px;
}
.letterLeft h6{
    display: block;
    float: left;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.letterLeft form{
    float: right;
    width: 70%;
}
#footer .letterLeft input{
    border: 1px solid #3c4450;
    height: 50px;
    width: 94%;
    padding-left:20px;
    background: none;
}
#footer .letterLeft button{
    background: #ff6c3a;
    width: 55px;
    height: 50px;
    float: right;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    border: none;
    color: #fff;
    font-size: 20px;
}
.letterRight{
    display: block;
    width: 40%;
    float: left;
    padding-left: 30px;
}
.letterRight h6{
    display: block;
    float: left;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.letterRight ul{
    margin-left: 50px;
    margin-top: 10px;
    float: left;
}
.letterRight li{
    list-style: none;
    display: inline-block;
}
.letterRight li a{
    background: #4f5662;
    height: 31px;
    width: 31px;
    text-align: center;
    line-height: 31px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
}
.letterRight li a:hover,.icons li a:active{
    background: #ff6c3a;
}
.service{
    margin-top: 50px;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 50px;
    padding-bottom: 50px;

}
.block{
    width: 350px;
    display: block;
    float: left;
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
}
.block h6{
    color: #fff;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.block img{
    margin-bottom: 30px;
}
.block p{
    line-height: 25px;
    color:  #969ea7;
}
.block ul{
    display: block;
    list-style: none;
    color:  #969ea7;
    margin-top: 30px;
}
.contact li{
    color: #969ea7;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #3c4450;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}
.links li{
    float: left;
    width: 150px;
    height: 40px;
    padding-left: 20px;
    position: relative;
}
.links li a{
    color: #969ea7;
    line-height: 40px;
    font-size: 13px;
    padding-bottom: 3px;
    display: inline-block;
}
.control{
    background: none;
    border-radius: 0px;
    border: 1px solid #3f4753;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.copyright{
    background: #161c28;
    padding: 15px 90px;
    display: block;
    height: 30px;
    width: 1100px;
    position: relative;
    top: 60px;
    left: -80px;
    clear: both;
    color:  #969ea7;
    font-size: 13px;
    font-weight: 400;
}