<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="background:grey;">
<div>
    a.com index
</div>


<script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js"></script>
<script>
    $.get('//b.com/data', function (response) {
        console.log(response);
    })
</script>

</body>
</html>
