<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
请提交你的报名信息 2

    <form action="/" method="post" target="b" name="form1">
        <div class="row">
            <label>
                姓名：<input type="text" name="name">
            </label>
        </div>
    </form>
<div class="output"></div>

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $.get('//b.com:3000/main.js')
</script>
</body>
</html>
