@charset "UTF-8";
/* 自适应*/
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-family: "微软雅黑" "arial";
  font-size: 16px;
  color: #797979;
  line-height: 1.8;
  background: #f7f6f8; }

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.fr {
  float: right; }

.clear-fix:after {
  content: " ";
  display: block;
  clear: both; }

.wrap {
  max-width: 1000px;
  margin: 0 auto; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em; }
  header.scroll {
    padding: 0 1em; }
  header .wrap-header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em 1em 0 1em; }
  header .wrap-title .icon {
    font-size: 28px;
    padding-right: 8px; }
    @media only screen and (max-width: 800px) {
      header .wrap-title .icon {
        font-size: 24px; } }
  header .wrap-title > h1 {
    font-size: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    @media only screen and (max-width: 800px) {
      header .wrap-title > h1 {
        font-size: 24px; } }
  header .wrap-share {
    position: relative; }
    header .wrap-share .share2 {
      display: none; }
      @media only screen and (max-width: 800px) {
        header .wrap-share .share2 {
          display: block; } }
      header .wrap-share .share2 .share-icon {
        width: 24px;
        height: 24px;
        margin-top: 11px; }
      header .wrap-share .share2 .share-box2 {
        background: white;
        position: absolute;
        right: 0;
        width: 100px;
        padding: 5px 0;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
        header .wrap-share .share2 .share-box2 > li {
          color: #333;
          padding: 0 10px;
          line-height: 2; }
          header .wrap-share .share2 .share-box2 > li:hover {
            background: #f5f5f5;
            color: #262626; }
    @media only screen and (max-width: 800px) {
      header .wrap-share .share1 {
        display: none; } }
    header .wrap-share .share1 .share {
      color: #21B396;
      font-size: 28px;
      -webkit-transform: translate(180deg);
      -ms-transform: translate(180deg);
      transform: translate(180deg); }
    header .wrap-share .share1 .share-box {
      font-size: 14px;
      background: white;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      padding: 15px;
      position: absolute;
      top: 50px;
      width: 132px;
      right: 0px; }
      header .wrap-share .share1 .share-box .sina, header .wrap-share .share1 .share-box .wx {
        color: white;
        background: #D84C4C;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
      header .wrap-share .share1 .share-box .wx {
        background: #73A64F; }

main .resume {
  margin-top: 95px;
  background: white;
  display: table;
  width: 100%;
  font-size: 18px; }
  @media only screen and (max-width: 800px) {
    main .resume {
      display: block;
      background: #f7f6f8; } }
  main .resume .resume-head {
    width: 332px;
    height: 240px;
    background: url("http://h5.jobdeer.com/img/avatar/2.png") no-repeat #97D3F3;
    background-size: 164px;
    background-position: center bottom;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell; }
    @media only screen and (max-width: 800px) {
      main .resume .resume-head {
        width: 100%;
        display: block; } }
    main .resume .resume-head .text {
      padding: 0px 20px; }
      @media only screen and (max-width: 800px) {
        main .resume .resume-head .text {
          padding: 30px 20px 0px 20px; } }
  main .resume .resume-content {
    padding: 50px;
    height: 260px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell; }
    @media only screen and (max-width: 800px) {
      main .resume .resume-content {
        display: block;
        margin: 15px;
        background: white;
        height: auto; } }
main .info {
  display: table;
  width: 100%;
  margin-top: 15px; }
  @media only screen and (max-width: 800px) {
    main .info {
      display: block; } }
  main .info h2.title {
    color: #4CC1AA;
    font-size: 24px; }
  main .info .person {
    width: 270px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 800px) {
      main .info .person {
        width: auto; } }
    main .info .person .information {
      background: white;
      padding: 20px 20px 20px 20px;
      margin: 0px 15px 15px 0; }
      @media only screen and (max-width: 800px) {
        main .info .person .information {
          margin: 15px; } }
      main .info .person .information ul.dl {
        line-height: 3; }
        main .info .person .information ul.dl > li {
          border-bottom: 1px dashed #e2e2e2; }
          main .info .person .information ul.dl > li .dd {
            float: right;
            color: #4CC1AA; }
  main .info .other {
    display: table-cell; }
    main .info .other .question {
      background: white;
      padding: 20px;
      margin: 0 0px 15px 0px; }
      @media only screen and (max-width: 800px) {
        main .info .other .question {
          margin: 15px; } }
      main .info .other .question dl.wrap-q > dt {
        color: #4CC1AA;
        font-size: 18px;
        padding: 10px 10px 10px 0px; }
        main .info .other .question dl.wrap-q > dt::before {
          display: inline-block;
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          content: "Q";
          background: #4CC1AA;
          color: white;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          margin-right: 5px; }
      main .info .other .question dl.wrap-q > dd {
        padding-bottom: 15px; }
    main .info .other .contact {
      background: white;
      padding: 20px; }
      @media only screen and (max-width: 800px) {
        main .info .other .contact {
          margin: 15px; } }
      main .info .other .contact .contact-cont {
        margin-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        border-bottom: 1px solid #e2e2e2; }
      main .info .other .contact .btn-box {
        margin-top: 20px; }
        main .info .other .contact .btn-box > a {
          line-height: 2.5;
          color: white;
          display: inline-block;
          margin-right: 20px;
          padding: 0 1em;
          background: #4CC1AA;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          text-decoration: none; }
          main .info .other .contact .btn-box > a:hover {
            background: #2CA28B; }

/*@include max-screen(480px)
{
    body{
        font-size: 14px;
    }
}*/

/*# sourceMappingURL=style.css.map */
