.btn{
	width: 155px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 3px solid rgba(0,0,0,0.4);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	border-radius: 4px;
	font-weight: bold;
	float: left;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn-default{
	background-color: #222935;
}

.btn-default:hover{
	background-color: #ff6c3a;
}

.btn-checked{
	background-color: #ff6c3a;
}

.btn-checked:hover{
	background-color: #222935;
}

header{
	border-top: 4px solid #222935;
}

.contact-way-wrap{
	width: 915px;
	margin: 0 auto;
	background-color: #222935;
	height: 49px;
	line-height: 49px;
	color: #fff;
	font-size: 12px;
	position: relative;
	left: 60px;

	font-family: 'Montserrat', sans-serif;
}

.contact-way-wrap:after{
	content: "";
	display: block;
	position: absolute;
	width: 35px;
	height: 49px;
	left: -35px;
	top: 0;
	background-image: url(../images/top-left-bar.jpg);
}

.contact-way-wrap:before{
	content: "";
	display: block;
	position: absolute;
	width: 35px;
	height: 49px;
	right: -35px;
	top: 0;
	background-image: url(../images/top-right-bar.jpg);
}

.contact-way-wrap .bar-icon{
	float: left;
	margin-left: 15px;
	position: relative;
	top: -2px;
}

.contact-way-wrap .contact-info-wrap{
	float: right;
	margin-right: 15px;
}

.contact-way-wrap ul li{
	float: left;
}

.contact-way-wrap .bar-icon li{
	margin-left: 5px;
}

.contact-way-wrap .bar-icon li:first-child{
	margin-left: 0px;
}

.contact-way-wrap .circle-icon{
	color: #fff;
	background-color: #4f5662;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	/* font-size 最小为 12px 怎么更加小？ */
	transition: 0.3s all ease-in-out;
}

.contact-way-wrap .circle-icon:hover{
	background-color: rgb(255, 108, 58);
}


.contact-way-wrap .header-icon{
	color: #4f5662;
}

.contact-info-wrap i{
	margin: 0 4px 0 45px;
	font-size: 18px;
}

.contact-info-wrap i{
	margin-right: 3px;
}


/* contact-wrap part finish */

.header-wrap{
	margin: 15px auto;
	width: 1170px;
	height: 80px;
	line-height: 80px;
}

.header-wrap .logo, .header-wrap .globalnav li{
	float: left;
}

.header-wrap .globalnav{
	float: right;
	margin-right: 25px;
}

/* 图片垂直居中 */
.header-wrap .logo{
	display: inline-block;
	height: 80px;
	vertical-align: middle;
}

.header-wrap .logo img{
	vertical-align: middle;
}

.header-wrap .globalnav>li{
	position: relative;
	display: inline-block;
}

.header-wrap .globalnav>li>a{
	padding: 10px 20px;
	color: #232c3b;
	font-size: 12px;
	font-family: 'Montserrat';
	transition: all 0.2s ease-in-out;
}

.header-wrap .globalnav>li:last-child>a{
	padding: 10px 12px;
}

.header-wrap .globalnav>li:last-child>a>i{
	font-size: 12px;
}

.header-wrap .globalnav>li>a:hover, .header-wrap .globalnav .current{
	text-decoration: none;
	color: white;
	background-color: #222935;
}

.page-btn:hover>.sub-nav-wrap{
	display: block;
}

.sub-nav-wrap{
	position: absolute;
	display: none;
	width: 250px;
	top: 58px;
	line-height: 20px;
	font-size: 12px;
	padding-top: 5px;
	background-color: #141414;
	padding: 5px 0;
}

.sub-nav-wrap li{
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.sub-nav-wrap li a{
	padding: 10px 20px 10px 25px;
	color: #6f6f6f;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.sub-nav-wrap li a:hover{
	color: #ff6c3a;
}

.search-btn:hover .search-wrap{
	display: block;
}

.search-wrap{
	display: none;
	position: absolute;
	top: 58px;
	right: 0;
	background-color: #141414;
	padding: 30px;
	width: 515px;
}

.search-wrap input{
	padding: 12px 0 12px 21px;
	font-size: 12px;
	color: #fff;
	width: 355px;
	background-color: #2b2b2b;
	border: 1px solid transparent;
	float: left;
	transition: all 0.3s ease-in-out;
}

.search-wrap input:focus{
	border-color: #66afe9;
}

.search-wrap .search{
	background-color: #ff6c3a;
	color: #fff;
	width: 133px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
	float: left;
	margin-left: -1px;
	cursor: pointer;
}





.sub-banner{
	height: 382px;
	background: url(../images/sub-banner.jpg) fixed center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	/* 触发BFC 防止margin重合折叠 */
	text-align: center;
	color: #fff;
}

.sub-banner h1{
	font-family: 'Alegreya Sans';
	font-weight: bold;
	font-size: 50px;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	margin: 150px 0 10px;
}

.sub-banner a{
	color: #ff6c3a;
}

#content section{
	width: 1170px;
	margin: 0 auto;
	padding: 100px 0;
}

#content section h2{
	font-size: 40px;
	margin-bottom: 15px;
	color: #232c3b;
	letter-spacing: 1px;
	font-family: "Alegreya Sans";
	text-align: center;
}

#content section p{
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	color: #6a7483;
}

#content section ul>li{
	float: left;
}

.solution-intro-wrap ul{
	margin-top: 80px;
}

.solution-intro-wrap ul>li{
	width: 25%;
	text-align: center;
}

.solution-intro-wrap ul>li h4{
	font-size: 14px;
	margin: 40px 0 10px;
	font-weight: normal;
	letter-spacing: 1.3px;
}

.solution-intro-wrap ul>li p{
	font-size: 13px!important;
	line-height: 24px;
	padding: 0 15px;
}

.advertise-google-wrap>img, .advertise-google-wrap .word-ad-wrap{
	float: left;
}

.advertise-google-wrap>img{
	width: 50%;
	margin-top: 30px;
}

.advertise-google-wrap .word-ad-wrap{
	margin-left: 2%;
	width: 48%;
}

.advertise-google-wrap .word-ad-wrap h2{
	text-align: left !important;
}

.advertise-google-wrap .word-ad-wrap p{
	font-size: 13px !important;
	line-height: 24px;
	text-align: left !important;
}

.word-ad-wrap ul{
	margin: 35px 0 25px;
	color: #232c3b;
}

.word-ad-wrap ul li{
	height: 30px;
	width: 100%;
	line-height: 30px;
	margin-bottom: 15px;
}

.word-ad-wrap ul li img{
	width: 27px;
	float: left;
}

.word-ad-wrap ul li span{
	margin-left: 20px;
	line-height: 30px;
	float: left;
}

.word-ad-wrap div:last-child{
	margin-left: 35px;
}



.clients-info-wrap{
	background-color: #4ad5c0;
	width: 100% !important;
}

.clients-info-wrap h2{
	color: #fff !important;
}

.clients-info-wrap p{
	color: #fff !important;
}

.clients-info-wrap ul{
	margin: 80px auto 0;
	width: 1170px;
}

.clients-info-wrap li{
	width: 20%;
	float: left;
	text-align: center;
}

.team-intro-wrap ul{
	margin: 80px auto 0;
	width: 1170px;
}

.team-intro-wrap li{
	float: left;
	margin-left: 35px;
	width: 360px;
	position: relative;
}

.team-intro-wrap li:first-child{
	margin-left: 0;
}

.team-intro-wrap li img{
	width: 360px;
	height: auto;
	display: block;
}

.team-intro-wrap li>div{
	width: 320px;
	height: 40px;
	padding: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(35,44,59,0.8);
	color: white;
}

.team-intro-wrap li>div p{
	font-size: 18px!important;
	text-align: left!important;
	color: #fff!important;
	margin-bottom: 5px;
	font-family: "Alegreya Sans";
}

.team-intro-wrap li>div em{
	font-size: 13px;
	font-family: "Open Sans";
}

.team-intro-wrap li>div>div{
	position: absolute;
	right: 7px;
	top: 7px;
	width: 66px;
	height: 66px;
	line-height: 66px;
	text-align: center;
	border-left: 1px solid #a15642;
	color: #a15642;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.team-intro-wrap li>div>div:hover{
	color: white;
}

.team-intro-wrap li>div>div>i{
	font-size: 20px;
}



footer{
	background-color: #232c3b;
}

footer h3{
	color: #fffefe;
	font-size: 16px;
	font-family: "Montserrat";
}

footer .email-info-container{
	width: 1170px;
	margin: 0 auto;
}

footer .email-info-wrap{
	height: 150px;
	line-height: 150px;
	border-bottom: 1px solid #4f5662;
}

footer .email-info-container>h3{
	float: left;
	margin-right: 50px;
}

footer .email-info-container>div{
	float: left;
	margin-right: 30px;
}

footer .search-footer-wrap{
	width: 390px;
	height: 50px;
	position: relative;
	margin-top: 50px;
}

footer .search-footer-wrap input{
	width: 308px;
	border: 1px solid #3c4450;
	background-color: #232c3b;
	height: 48px;
	padding: 0 60px 0 20px;
	font-size: 14px;
	color: white;
	float: left;
}

footer .search-footer-wrap>i{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 55px;
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 17px;
	text-align: center;
	background-color: #ff6c3a;
	cursor: pointer;
}

footer .contact-icon-wrap i{
	color: #fff;
	background-color: #4f5662;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	/* font-size 最小为 12px 怎么更加小？ */

	margin-left: 1px;
	transition: 0.3s all ease-in-out;
	cursor: pointer;
}

footer .contact-icon-wrap i:hover{
	background-color: rgb(255, 108, 58);
}

footer .footer-info-container{
	width: 1170px;
	margin: 50px auto;
}

.footer-info-container>div{
	float: left;
	width: 30%;
	margin-right: 3%;
}

footer .intro-footer-wrap img{
	margin-bottom: 30px;
}

footer .intro-footer-wrap p{
	color: #969ea7;
	line-height: 26px;
	font-size: 13px;
	font-family: "Open Sans";
}

footer .intro-footer-wrap ul{
	margin-top: 50px;
	color: #969ea7;
}

footer .intro-footer-wrap ul li{
	border-bottom: 1px solid #3c4450;
	height: 44px;
	line-height: 44px;
	font-style: 'Montserrat';
	font-size: 12px;
}

footer .intro-footer-wrap ul li i{
	margin-right: 10px;
}

footer .service-footer-wrap ul{
	margin-top: 30px;
	font-style: "Open Sans";
	font-size: 14px;
	color: #969ea7;
}

footer .service-footer-wrap ul li{
	height: 40px;
	line-height: 40px;
	float: left;
	width: 50%;
}

footer .service-footer-wrap ul li a{
	color: inherit;
	padding-left: 15px;
	position: relative;
}

footer .service-footer-wrap ul li a:hover{
	border-bottom: 1px dashed #969ea7;
}

footer .service-footer-wrap ul li a:after{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	border-left: 6px solid #969ea7;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	top: 5px;
	left: 1px;
}

footer .connect-footer-wrap input[type=text]{
	margin-top: 20px;
	border: 1px solid #3c4450;
	background-color: #232c3b;
	width: 100%;
	font-size: 13px;
	height: 14px;
	padding: 12px 10px;
	font-family: "Open Sans";
}

footer .connect-footer-wrap textarea{
	margin-top: 20px;
	border: 1px solid #3c4450;
	background-color: #232c3b;
	width: 100%;
	font-size: 13px;
	height: 66px;
	padding: 12px 10px;
	font-family: "Open Sans";
}

footer .connect-footer-wrap .btn-checked{
	margin-top: 20px;
}

footer .copyright-wrap{
	background-color: #161c28;
	height: 56px;
}

footer .copyright-wrap p{
	width: 1170px;
	margin: 0 auto;
	font-size: 13px;
	color: #969ea7;
	height: 100%;
	line-height: 56px;
}


.about-main{
	display: none;
}

