*{padding:0;margin:0;text-decoration: none;list-style: none;font-family:"微软雅黑";}

body{
	border-top: 4px solid rgb(34,41,53)
}
.container{
	width: 1200px;
	margin:0 auto;	
}
.container .wrapper{
	height:48px;
	width: 980px;
	background-color: rgb(34,41,53);
	position: relative;
	margin: 0 auto;
	left: 100px;

}
.container .wrapper .before-img,.after-img{
	height:48px;
	width: 32px;
}
.container .wrapper .before-img{
	float: left;
} 
.container .wrapper .after-img{
	position: absolute;
	top: 0;
	right: 0;
} 
.container .wrapper .social-icons{
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}
.container .wrapper .social-icons>ul>li{
	float: left;
	line-height: 32px;
	text-align: center;
	width: 32px;
	height: 32px;
	background-color: rgb(79,86,98);
	border-radius: 16px;
	margin-left: 4px;
}
.container .wrapper .contant{
	float: left;
	margin-left: 180px;
	height: 48px;
	line-height: 48px;
}
.container .wrapper .contant>ul>li{
	float: left;
	margin-right: 50px;
}
.container .wrapper .contant>ul>li span{
	color:white;
	font-family: 'Montserrat', sans-serif;
	padding-left: 5px;
}
header{
	width: 1200px;
	margin: 0 auto;
	padding:25px 0 20px;
	position: relative;
	left:50px;
}
header nav{
	overflow: hidden;

} 
header img{
	float:left;
}
header nav ul{
	float:left;
	margin-left: 250px;
	position: relative;
	top:10px;
}
header nav ul>li{
	float:left;
}
header nav ul>li a{
	height: 37px;
	padding:0 15px;
	display:inline-block;
	line-height: 37px;
	color:rgb(34,41,53);
	font-family: '微软雅黑';
}
header nav ul>li a.active{
	color:white;
	background-color: rgb(34,41,53);
}
.first-section{
	height: 382px;
	background-image: url(../images/section1.png);
	margin-top: 10px;
	position: relative;
}
.first-section .center{
	overflow: hidden;
	position: absolute;
	height:100px;
	width: 300px;
	top:50%;
	left:50%;
	text-align: center;
	margin-top: -50px;
	margin-left:-150px;
}
.first-section .center h2{
	font-size: 40px;
	font-family: "微软雅黑";
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.first-section .center .breadcrumb{
	overflow: hidden;
	margin-top: 15px;
}
.first-section .center .ulll{
	margin: 0 auto;
	width: 110px;
}
.first-section .center .breadcrumb>li{
	float: left;
	color:#fff;
	display: inline;
	width: 55px;
}
.first-section .center .breadcrumb>li>a{
	color:#ff6c3a;
	font-family: "微软雅黑"
}
.second-section{
	background-color: rgb(249,249,249);
	padding:100px 0;
}
.second-section .wrapper{
	width: 1140px;
	height: 406px;
	margin:0 auto;
}
.second-section .wrapper .header{
	text-align: center;
	margin-bottom: 80px;
}
.second-section .wrapper .header h2{
	font-family: "微软雅黑";
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 15px;
}
.second-section .wrapper .header span{
	color:#6a7483;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: "微软雅黑";
}
.second-section .wrapper .item-list{
	width: 1064px;
	margin: 0 auto;
	overflow: hidden;
}
.second-section .wrapper .item-list ul>li{
	float:left;
	display: inline-block;
	width: 246px;
	text-align: center;
	margin-right: 20px
}
.second-section .wrapper .item-list ul>li>h6{
	margin:40px 0 10px;
	font-size:12px;
	letter-spacing: 2px;
	font-weight: normal;
}
.second-section .wrapper .item-list ul>li>p{
	color:#6a7483;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}
