
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before { content: "\e6b8"; }
.icon-twitter:before { content: "\e622"; }
.icon-g01:before { content: "\e600"; }
.icon-phone:before { content: "\e681"; }
.icon-email:before { content: "\e6a5"; }
.icon-iconfuzhi:before { content: "\e620"; }
.icon-search:before { content: "\e607"; }
.icon-question:before { content: "\3435"; }
.icon-fenzhongtongjipaimingkuaizhao:before { content: "\e804"; }
.icon-kehuzhongxin:before { content: "\e60b"; }
.icon-mobilephone:before { content: "\e603"; }
.icon-purse:before { content: "\e65b"; }
.icon-xiaohuojian:before { content: "\e602"; }
.icon-tubiaozitihua03:before { content: "\e796"; }
.icon-popg:before { content: "\e6f3"; }
.icon-in:before { content: "\e620"; }
.icon-be:before { content: "\e601"; }
.icon-skype:before { content: "\e720"; }
.icon-skype1:before { content: "\e88a"; }
.icon-dribbble:before { content: "\e631"; }
.icon-loc:before { content: "\e601"; }
