@font-face {font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
*{
	padding: 0;
	margin: 0;
}
body{
	color: #797979;
	font-size: 14px;
	font-family: microsoft yahei;
	background: #f7f6f8;
}
header{
	background: #fff;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	z-index: 1000;
	padding: 40px 0 30px;
	position: relative;
}
.wrapped{
	width: 970px;
	margin: 0 auto;
}
@media (max-width: 768px){
	.wrapped{
		width: auto;
	}
}

header h1{
	font-size: 28px;
    color: #bcbcbc;
    font-weight: normal;
    position: relative;
    padding-left: 32px;
}
header .menu{
	position: absolute;
	left: 0;
	top: 6px;
}
header .share{
	color: #4CC1AA;
	position: absolute;
	right: 0;
	top: 8px;
}
header .iconfont{
	font-size: 26px;
}
.avatar-description{
	width: 100%;
	margin-bottom: 15px;
}
.avatar-description:after{
	content: '';
	display: block;
	clear: both;
}
.avatar{
	background: rgb(32, 178, 149);
	width: 220px;
	height: 230px;
	padding: 30px 0 0 20px;
	color: #fff;
	font-size: 18px;
	float: left;
	position: relative;
}
@media (max-width: 768px){
	.avatar{
		width: auto;
		float: none;
	}
}
.avatar img{
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -82px;
}
.description{
	float: left;
	font-size: 18px;
	line-height: 30px;
	width: 630px;
	padding: 50px;
	background: #fff;
	height: 160px;
}
@media (max-width: 768px){
	.description{
		width: auto;
		float: none;
		margin: 15px;
		padding: 20px;
	}
}
.content{
	width: 100%;
}
.profile-jobwish{
	width: 270px;
	float: left;
	margin-right: 15px;
}
@media (max-width: 768px){
	.profile-jobwish{
		width: auto;
		float: none;
		margin: 15px;
	}
}
.question-contact{
	width: 685px;
	float: left;
}
@media (max-width: 768px){
	.question-contact{
		width: auto;
		float: none;
		margin: 15px;
	}
}
.profile,.jobwish,.question,.contact{
	background: #fff;
	margin-bottom: 15px;
	padding: 20px;
}
.content h3{
	font-size: 24px;
	color: #4CC1AA;
	font-weight: normal;
}
.pj-ul{
	margin: 15px 0;
	list-style: none;
}
.pj-ul li:after{
	content: '';
	display: block;
	clear: both;
}
.pj-ul li{
	font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px dashed #e4e4e4;
}
.pj-l{
	float: left;
}
.pj-r{
	float: right;
	color: #4CC1AA;
}
.question dl{
	margin-bottom: 30px;
}
.question dt{
	margin: 20px 0 8px;
    font-size: 18px;
    color: #4CC1AA;
}
.question dt:before{
	content: 'Q';
	font-size: 14px;
	background: #4CC1AA;
	border-radius: 5px;
	padding: 5px 6px;
	color: #fff;
	display: inline-block;
	line-height: 100%;
	margin-right: 5px;
	position: relative;
	top: -3px;
}
.question dd{
	font-size: 16px;
}
.contact p{
	color: #E4E4E4;
    font-size: 20px;
    text-align: center;
    padding: 50px 0;
    border-bottom: #f2f2f2 1px solid;
}
.contact .btn{
	margin-top: 15px;
}
.contact .btn a{
	display: inline-block;
	background: #36b39a;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
}