/*reset*/
*{margin: 0;padding: 0;font-size: 13px;font-family: 'Montserrat', sans-serif;}
a{text-decoration: none;}
ul li{list-style: none;}
  /*-webkit-font-smoothing: antialiased;*/
/*reset-end*/

/*global*/
.warpper{width: 100%;position: relative;}
.panel{margin: 0 62px;}
/*global-end*/

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: '';display: block;clear: both;}
/*清除浮动－end*/

/*topbar*/
.header{width: 100%;border-top: 4px solid #222935;}
.header .topbar{padding-left: 166px;}
.header .topbar .topbar-img-left{float: left;}
.header .topbar .topbar-main{float: left;background: #222935;height: 48px;width: 885px;}
.header .topbar .topbar-img-right{float: left;}
.header .topbar .topbar-main .topbar-icon{margin: 5px 0 12px 6px;float: left;}
.min-icon{float: left;width: 31px;height: 31px;text-align: center;line-height: 31px; background: #4f5662;margin-right: 4px; border-radius: 20px;}
.min-icon a{color: #fff;}
.min-icon:hover{background: #ff6c3a;}
.img-bar{width: 45px;height: 48px;}
.header .topbar .topbar-main .contact{float: left;margin: 20px 0 18px 150px;color: #fff;font-weight: normal;position: relative;top: -6px;}
.header .topbar .topbar-main .contact .con-icon{float: left;margin-right:  50px;font-size: 12px;}
.header .topbar .topbar-main .contact .con-icon i{margin-right: 8px; font-size: 18px;color: #4f5662;}
/*topbar--end*/

/*logo*/
.nav{margin-top: 30px;}
.nav img{float: left;}
.nav .nav-ul{float: right;}
.nav .nav-ul .column{display: inline-block;}
.nav .nav-ul .column a{padding: 10px 20px;float: left;margin: 8px auto;}
.nav .nav-ul .column a:hover{background: #232c3b;color: #fff;}
/*logo-end*/

/*banner*/
.banner{width: 100%; height:382px; margin-top: 30px; background: url(../images/sub-banner.jpg) no-repeat fixed center center; text-align: center; padding: 150px 0; }
.banner h1{font-family: 'Alegreya Sans';font-size: 50px;color: #fff;text-transform: uppercase;letter-spacing: 2px;font-weight: bolder;}
.banner h3{color: #ff6c3a; font-family: 'Open Sans', sans-serif; margin-top: 20px; } /*banner-end*/


/*solution*/
.solution{padding-top: 100px;background: #f9f9f9;width: 100%;text-align: center;}
.solution .solu-text{margin: 10px auto;}
/*.solution .solu-text h2{  font-size: 40px;margin-top: 0px;margin-bottom: 15px;font-weight: bold;color: #232c3b;font-family: 'Alegreya Sans';letter-spacing: 1px;}*/
h2{font-size: 40px;margin-top: 0px;margin-bottom: 15px;font-weight: bold;color: #232c3b;font-family: 'Alegreya Sans';letter-spacing: 1px;}
.solution .solution-sub{margin-top: 84px;}
.solution .solution-sub .icon{float: left;width: 25%;}
.solution .solution-sub .icon .icon-title{font-size: 12px;margin: 40px 0 20px 0;letter-spacing: 1.3px;font-weight: bolder;}
.solution .solution-sub .icon .icon-content{font-size: 13px;color: #6a7483;line-height: 24px;font-weight: normal;}
/*solution--end*/

.google{margin-top: 60px;}
.google .google-con{float: left;width: 50%;}
.google .google-con img{max-width: 100%;margin-top: 30px;}
.google .google-con p{line-height: 24px;color: #6a7483;font-weight: 400;}
.google .google-con ul{margin-bottom: 33px;}
.google .google-con .list-icon img{position: relative;top: 7px; margin-right: 12px;}
.google .google-con .list-icon span{color: #232c3b;font-size: 15px;}


.btn{width: 150px;height: 45px;background:#ff6c3a;display: inline-block;color: #fff;text-align: center;line-height: 45px;text-transform: uppercase;font-size: 12px;font-weight: bold;cursor: pointer;border-radius: 4px;margin-right: 33px;border-bottom: 3px solid rgba(0,0,0,0.4);}
.btn:hover{background: #222935;}
.btn-learn{background: #222935;}
.btn-learn:hover{background: #ff6c3a;}

.clients{background: #4ad5c0;width: 100%;margin-top: 60px;padding:80px 0 10px 0;text-align: center;color: #fff;}
.clients .clients-con{margin-bottom: 90px;}
.clients .clients-con h2{color: #fff;}
.clients .clients-con .clients-img{float: left;width: 20%;}

.team{margin-top: 100px;text-align: center;}
.text-span{display: inline-block;line-height: 30px;width: 60%;margin: 0 auto;font-size: 15px;letter-spacing: 1px;font-weight: normal;}
.team .member {margin-top: 85px;margin-left: -15px;margin-right: -15px;}
.team .member .people{float: left;width: 30%;padding: 0 15px;}
.team .member .people img{max-width: 100%;}
.team .member .people .people-pan{position: relative;}
.team .member .people .people-pan .people-msg{
	color: #fff;
	height: 80px;
	background: rgba(35,44,59,0.8);
	position: absolute;
	left: 0; 
	bottom: -1px;
	width: 100%; 
}
.team .member .people .people-pan .people-msg .msg-1{
	font-size: 18px;
	margin: 20px 0 0 25px;
	text-align: left;
}
.team .member .people .people-pan .people-msg .msg-2{
	font-size: 14px;
	margin: 10px 0 0 25px;
	text-align: left;
	font-weight: normal;
}
.team .member .people .people-pan .people-msg a{
	color: #a2574a;
	border-left: 1px solid #a2574a;
	font-size: 25px;
	float: right;
	padding: 0 20px;
	line-height: 70px;
	height: 70px;
	position: relative;
	top: -57px;
	right: 5px;
}
.team .member .people .people-pan .people-msg a:hover{
	color: #fff;
}
.footer{
	margin-top: 100px;
	background: #232c3b;
	color: #fff;
	padding-bottom: 50px;
}
.footer .letter{
	/*background-color: red;*/
	padding-bottom: 50px;
}
.footer .letter .letter-col{
	float: left;
	width: 50%;
	padding-top: 50px;
}
.footer .letter .letter-col form{
	/*width: 70%;*/
}
h5{
	display: inline-block;
	margin-right: 50px;
	float: left;
	font-size: 16px;
	padding: 20px 0;
}
.footer .letter .letter-col .letter-ipt{
	border: 1px solid #3c4450;
	width: 290px;
	height: 50px;
	padding: 0 20px;
	background: none;

}
.footer .letter .letter-col .letter-btn{
	width: 55px;
	height: 52px;
	background: #ff6c3a;
	border: none;
	color: #fff;
	font-size: 18px;
	position: absolute;
}
.footer .letter .letter-col .letter-btn i{
	font-size: 24px;
}
.footer .letter .letter-col ul{
	margin-top: 10px;
}
hr{
	border-top: 1px solid #3c4450;
}


.footer .infinity{
	border-top: 1px solid #3c4450;
	padding-top: 50px;
}
.footer .infinity  .infinity-pal{
	margin-right: 20px;
	float: left;
	width: 30%;
}
.footer .infinity .infinity-pal ul{
	margin: 40px 0;
}
.footer .infinity .infinity-pal .infinity-list{
	border-bottom: 1px solid #3c4450;
	line-height: 26px;
	padding: 10px 0;
}
.footer .infinity .logo-footer{
	margin-bottom: 40px;
}
.footer .infinity .infinity-pal dl{
	margin-top: 80px;
	display: block;

}
.infinity-pal dl dt{
	float: left;
	width: 50%;
}
.infinity-pal dl dd{
	float: right;
	width: 50%;
	/*padding-left: 20px;*/
}
.infinity-pal dl  i{
	font-size: 12px;
	margin-right: 10px;
	position: relative;
	top: -2px;
}
.infinity-pal a{
	font-size: 13px;
	line-height: 40px;
	padding-bottom: 3px;
}
.infinity-pal a:hover{
	color: #fff;
	border-bottom: 1px dashed #fff;
}
.footer .infinity .infinity-pal .in-ipt{
	width: 100%;
	height: 36px;
	border: 1px solid #3f4753;
	margin-bottom: 20px;
	padding-left: 20px;
	background: none;
} 
.footer .infinity .infinity-pal .messages{
	height: 76px;
	padding-top: 10px;
}
.footer p{
	line-height: 26px;
}
.footer .infinity ul i{
	font-size: 20px;
	margin-right: 15px;
}
.footer p,span,dl,dt,dd,a{
	color: #969ea7;
	font-size: 12px;
}

.copyright{
	height: 56px;
	line-height: 56px;
	background: #161c28;
	color: #969ea7;
}























